
@{
    ViewBag.Title = "Quản lý bài giảng";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    int dem = 1;
    var course = ViewBag.Course as HocTrucTuyen.Models.Entity.Course;
}


@model PagedList.IPagedList<HocTrucTuyen.Models.Entity.Course_Detail>
@using PagedList.Mvc



<div id="page-wrapper" style="min-height: 356px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Chi tiết khóa học: <span style="color: blue">@course.Title</span></h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            @if (TempData["add_success"] != null)
            {
                <div class="alert alert-success text-center" id="AlertBox">
                    @TempData["add_success"]
                </div>
            }
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    @*<div class="panel-heading">
                            DataTables Advanced Tables
                        </div>*@
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                <div class="row">
                                    <div class="col-sm-6" style="margin-bottom: 10px;">
                                        <div class="right">
                                            <a class="btn btn-success" href="/Admin/Course_Detail/Add/@course.ID"><i class="fa fa-plus"></i>Thêm mới</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info">
                                            <thead>
                                                <tr role="row">
                                                    <th>
                                                        STT
                                                    </th>
                                                    <th>
                                                        Tên bài giảng
                                                    </th>
                                                    <th>
                                                        Nội dung
                                                    </th>
                                                    <th>
                                                        Ngày tạo
                                                    </th>
                                                    <th>

                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    foreach (var item in Model)
                                                    {

                                                        <tr class="gradeA odd" role="row">
                                                            <td class="sorting_1">@dem</td>
                                                            <td>@item.Name</td>
                                                            <td><div class="scoll_description">@Html.Raw(item.Descriptions)</div></td>
                                                            <td class="text-center">@item.Created_Date</td>
                                                            <td class="center text-center"  style="width: 150px">
                                                                <a class="btn btn-primary" href="/Admin/Course_Detail/Edit/@item.ID" title="Sửa bài giảng"><i class="fa fa-edit"></i></a>
                                                                <button class="btn btn-danger btnDelete" title="Xóa bài giảng" data-id="@item.ID"><i class="fa fa-times"></i></button>
                                                            </td>
                                                        </tr>
                                                        dem++;
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { ID = course.ID, page, pagesize = Model.PageSize }))
                            </div>
                        </div>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>


@section jsFooter{

    <script type="text/javascript">
        $(function () {
            //nếu không có thao tác gì thì ẩn đi
            $('#AlertBox').removeClass('hide');

            //Sau khi hiển thị lên thì delay 1s và cuộn lên trên sử dụng slideup
            $('#AlertBox').delay(2000).slideUp(500);


            $('.btnDelete').off('click').on('click', function () {
                const notice = PNotify.notice({
                    title: 'Thông báo',
                    text: 'Bạn thật sự muốn xóa?',
                    icon: 'fa fa-question-circle',
                    width: '360px',
                    minHeight: '110px',
                    hide: false,
                    closer: false,
                    sticker: false,
                    destroy: true,
                    stack: new PNotify.Stack({
                        dir1: 'down',
                        modal: true,
                        firstpos1: 25,
                        overlayClose: false
                    }),
                    modules: new Map([
                        ...PNotify.defaultModules,
                        [PNotifyConfirm, {
                            confirm: true
                        }]
                    ])
                });

                notice.on('pnotify:confirm', () =>
                    $.ajax({
                        data: { ID: $(this).data('id') },
                        url: '/Admin/Course_Detail/Delete',
                        dataType: 'Json',
                        type: 'POST',
                        success: function (res) {
                            if (res.status == true) {

                                window.location.href = "/Admin/Course_Detail/Index/" + @course.ID;
                                PNotify.success({
                                    title: 'THÔNG BÁO!!',
                                    text: 'Xóa bài giảng thành công.'
                                });
                            } else {

                                window.location.href = "/Admin/Course_Detail/Index/" + @course.ID;
                                PNotify.error({
                                    title: 'THÔNG BÁO!!',
                                    text: 'Xóa bài giảng KHÔNG thành công.'
                                });
                            }
                        }
                    })

                );


            });
        });

    </script>
}





